.footer_box{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    .footer_left_play{
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
        margin-left: 20px;
        &>div{
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 3.1;
            margin: 0 10px;
            border-radius: 50%;
            background-color: rgba(232,60,60);
        }
        .footer_switch {
            cursor: pointer;
        }
    }
}

.swtch_bottom{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: -2px -2px 5px #eeeeee;
}

.Progress{
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>span{
        display: inline-block;
        margin: 0 12px;
    }
}